<div ng-class="{ 'col-xs-12' : formMode == 5}" class="common intro on top-padding kontaktform" ng-form="kontaktForm" ng-controller="KontaktCtrl">


    <h4 class="col-xs-12">{{kontaktText}}</h4>
        <p ng-show="formMode == 3">Unverbindlich, 100% kostenfrei, individuell für Sie! Aus über 400 Banken, Versicherungen und Bausparkassen den Top-Zins erhalten!</p>
    <div class="col-xs-12">
        <input class="col-sm-5 col-xs-10" tabindex=4 type="text" ng-required="true" ng-model="wertForm.vorname" placeholder="Vorname*">
        <input class="col-sm-5 col-xs-10"tabindex=5  type="text" ng-required="true" ng-model="wertForm.nachname" placeholder="Nachname*">
        <input class="col-sm-3 col-xs-10" tabindex=6 type="text" ng-required="true" ng-model="wertForm.email" placeholder="EMail*">
        <input class="col-sm-3 col-xs-10" tabindex=7 type="text" ng-model="wertForm.telefon" placeholder="Telefon">
        <input class="col-sm-3 col-xs-10" tabindex=8 type="number" ng-required="true" ng-model="wertForm.plz" placeholder="Postleitzahl*">

    </div>

    <div ng-show="formMode == 3 || formMode == 4" class="col-xs-12 blueBar">{{textBlueBar}}</div>

    <a ng-show="formMode == 2" ng-click="slickConfigBewertung.method.slickPrev()" class="prevButton btn btn-success">Zurück</a>
    <a ng-show="formMode == 4" ng-click="slickConfigRenovierung.method.slickPrev()" class="prevButton btn btn-success">Zurück</a>
    <a ng-show="formMode == 5" ng-click="slickConfigPrivatkredit.method.slickPrev()" class="prevButton btn btn-success">Zurück</a>

    <a ng-disabled="!kontaktForm.$valid" ng-click="wertForm.checkAGB === false || submitForm()" class="sendButton btn btn-warning">{{titleSendButton}}</a>
    <div class="nutzung">
        <input type="checkbox" id="nutzungsbedingung" ng-required="true" ng-model="wertForm.checkAGB"><label for="nutzungsbedingung">Ich bin mit den <a href="/nutzungsbedingungen" target="_blank">Nutzungsbedingungen</a> einverstanden</label>

    </div>


</div>


