
<div class="col-xs-12 bewertung top-padding">
    <div class="topQuestion top-padding">
        <h3>Wie können wir Ihnen weiterhelfen?</h3>
        <a class="aboutLink" href="#" ng-click="showAboutDialog()">Info</a>
    </div>

    <select ng-show="formMode == 1" ng-model="wertForm.anfrageart" class="wizard-select">
        <option value="bewertung">Immobilienbewertung</option>
        <option value="finanzierung">Baufinanzierung</option>
        <option value="renovierung">Bau- und Renovierungskosten</option>
    </select>
    <div ng-controller="ImmobilienbewertungCtrl" ng-show="formMode == 2">
        <slick ng-show="showSlicks" id="Immobilienbewertung" style="position:relative;" settings="slickConfigBewertung" slides-to-show=1>
            <div class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/immobilienArt/view/immobilienArt.html'"></div>
            </div>
            <div class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/kaufen/view/kaufen.html'"></div>
            </div>
            <div ng-show="wertForm.wertObjekt=='Haus'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/hausArt/view/hausArt.html'"></div>
            </div>
            <div ng-show="wertForm.wertObjekt=='Wohnung'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/wohnungsArt/view/wohnungsArt.html'"></div>
            </div>
            <div class="singleSlide" ng-controller="FlaechenCtrl">
                <div ng-include="'steps/Immobilienbewertung/flaechen/view/flaechen.html'"></div>
            </div>
            <div ng-show="wertForm.wertObjekt=='Wohnung' || wertForm.wertObjekt=='Haus'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/stockwerke/view/stockwerk.html'"></div>
            </div>
            <div ng-show="wertForm.wertObjekt=='Haus'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/baujahr/view/baujahr.html'"></div>
            </div>
            <div ng-show="wertForm.wertObjekt=='Wohnung' || wertForm.wertObjekt=='Haus'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/nutzungsart/nutzungsart.html'"></div>
            </div>
            <div ng-show="wertForm.wertObjekt=='Wohnung' || wertForm.wertObjekt=='Haus'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/stellplatz/stellplatz.html'"></div>
            </div>
            <div class="singleSlide">
                <div ng-include="'steps/Baufinanzierung/Kontaktformular/kontakt.html'"></div>
            </div>
        </slick>
    </div>


        <div ng-if="formMode == 3" class="" id="Baufinanzierung" >
            <div ng-include="'steps/Baufinanzierung/Kontaktformular/kontakt.html'"></div>
        </div>


    <div ng-controller="BaurenovierungCtrl" ng-show="formMode == 4">
        <slick ng-show="showSlicks" id="renovierung" style="position:relative;" settings="slickConfigRenovierung" slides-to-show=1>

            <div class="singleSlide">
                <div ng-include="'steps/BauRenovierungskosten/Bauart/view/bauart.html'"></div>
            </div>
            <div ng-show="wertForm.bauArt =='Neubau'" class="singleSlide">
                <div ng-include="'steps/BauRenovierungskosten/hausArt/view/hausArt.html'"></div>
            </div>
            <div ng-show="wertForm.bauArt =='Neubau'" class="singleSlide" ng-controller="FlaechenCtrl">
                <div ng-include="'steps/Immobilienbewertung/flaechen/view/flaechen.html'"></div>
            </div>
            <div class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/stockwerke/view/stockwerk.html'"></div>
            </div>
            <div class="singleSlide">
                <div ng-include="'steps/BauRenovierungskosten/keller/view/keller.html'"></div>
            </div>
            <div ng-show="wertForm.bauArt == 'Neubau'" class="singleSlide">
                <div ng-include="'steps/Immobilienbewertung/stellplatz/stellplatz.html'"></div>
            </div>
            <div class="singleSlide">
                <div ng-include="'steps/Baufinanzierung/Kontaktformular/kontakt.html'"></div>
            </div>
        </slick>
    </div>



</div>
