<md-dialog id="aboutdialo" aria-label="Status">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Info</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                Icons von: <br />
                Daan Dirk, Lisa Staudinger, Tim Reiter, Numero Uno, Franc, Ralf Schmitzer, Luis Prado, juliana takeuchi, Lloyd Humphreys, Hea Poh Lin, AlfredoCreates.com,
            Creative Stall, Aleksandr Vector, Adrien Coquet von NounProject
<br /><br />
                <b>Entwicklung: Dominik Heim <a href="http://www.heim-tech.de">Heim Tech | www.heim-tech.de</a></b>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button ng-click="answer('Ok')">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>