<section class="wag-top-padding imageselectiongroup" ng-controller="ImageSelectionGroupCtrl" ng-class="selectionGroup.sectionBootstrapClasses" >
    <div class="row">
              <div class="col-xs-12 imageselectiongrouplist">

                <ul class="row">
                   <li class="xponListItem" ng-click="userSelection.selectedValue = singleItem.value" ng-class="selectionGroup.listClasses" ng-repeat="singleItem in selectionGroup.items">
                       <div class="radio">



                           <input type="radio" name="{{selectionGroup.name}}" class="singleItem.value" ng-required="true" ng-value="singleItem.value" icheck update-form ng-model="userSelection.selectedValue">

                       </div>
                        <div class="growContainer">


                            <img class="grow" ng-src="../assets/img/{{singleItem.imageName}}">
                        </div>
                        <div class="imgBarBottomBlack"><h3>{{singleItem.name}}</h3>
                         </div>

                    </li>
                </ul>
            <div ng-messages="validationForm[selectionGroup.name].$error">
                <p ng-message="required">This field is required</p>
            </div>



        </div>
    </div>

</section>




