<div class="row common intro on" ng-controller="Step2Ctrl">


    <h2 class="col-xs-12">{{FlaecheTitle}}</h2>



    <br/>
    <div class="col-xs-6 sm-3">

        <image src="{{imageStep2}}" />
    </div>
    <div class="col-xs-6 sm-3">
        <rzslider rz-slider-model="wertForm.grundstueckGroesse" rz-slider-high="slider_all_options.maxValue" rz-slider-options="slider_all_options.options"></rzslider>
        <input class="squaremeterinput" type="number" ng-model="minSlider.value" />
    </div>



</div>