<div class="row common intro on top-padding kreditdaten">


    <h4 class="col-xs-12">{{kontaktText}}</h4>
    <p class="col-xs-12">Unverbindlich, 100% kostenfrei, individuell für Sie! Aus über 400 Banken, Versicherungen
        und Bausparkassen den Top-Zins erhalten!</p>
    <div class="col-xs-12">
        <div class="how-much-container col-xs-5">
            <input class="how-much" tabindex=4 type="text" ng-required="true"
                   ng-model="wertForm.kreditSumme" placeholder="Wieviel?">
            <span class="currency">€</span>
        </div>




        <select class="col-xs-6 col-xs-offset-1 kreditDauer tabindex=5" ng-required="true" ng-model="wertForm.kreditDauer">
            <option value="" disabled selected>Wie lange?</option>
            <option value="12"  >12 Monate</option>
            <option value="18"  >18 Monate</option>
            <option value="24"  >24 Monate</option>
            <option value="36"  >36 Monate</option>
            <option value="48"  >48 Monate</option>
            <option value="60"  >60 Monate</option>
            <option value="72"  >72 Monate</option>
            <option value="84"  >84 Monate</option>
            <option value="96"  >96 Monate</option>
            <option value="108"  >108 Monate</option>
            <option value="120"  >120 Monate</option>

        </select>
        <select class="col-xs-5 kreditGrund" tabindex=5 ng-required="true" ng-model="wertForm.kreditGrund">
            <option value="" disabled selected>Wofür?</option>
            <option value="Freie Verwendung" class="">Freie Verwendung</option>
            <option value="Gebrauchtfahrzeug">Gebrauchtfahrzeug</option>
            <option value="Neufahrzeug">Neufahrzeug</option>
            <option value="Motorrad" class="hover">Motorrad</option>
            <option value="Umschuldung/Kredit ablösen" class="">Umschuldung/Kredit ablösen</option>
            <option value="Ausgleich Dispo">Ausgleich Dispo</option>
            <option value="Einrichtung/Möbel">Einrichtung/Möbel</option>
            <option value="Modernisierung/Baufinanzierung">Modernisierung/Baufinanzierung</option>
            <option value="PC/Audio/Video">PC/Audio/Video</option>
            <option value="Reise">Reise</option>
        </select>



    </div>

    <div class="col-xs-5 blueBar">Über 1000 zufriedene Kunden der Region Augsburg!</div>

     <a ng-click="slickConfigPrivatkredit.method.slickNext()" class="nextButton btn btn-success">Weiter</a>




</div>


