<div class="row common intro on  kontaktform" ng-controller="KontaktCtrl">


    <h4 class="col-xs-12">Lage des Objekts + Besonderheiten</h4>
    <div class="col-xs-12">
        <input class="col-xs-12" type="number" ng-required="true" tabindex="1" ng-model="wertForm.immoPLZ" placeholder="PLZ der Immobilie*">
        <input class=col-xs-12" type="text" ng-required="true" tabindex="2" ng-model="wertForm.immoLage" placeholder="Straße der Immobilie*">
        <textarea class="col-xs-12" rows="4" ng-model="wertForm.besonderheit" tabindex="3" placeholder="Hier können Sie besonderheiten eintragen"></textarea>

    </div>

</div>


<a ng-show="formMode == 2" ng-click="slickConfigBewertung.method.slickPrev()" class="prevButton btn btn-success">Zurück</a>
<a ng-show="formMode == 4" ng-click="slickConfigRenovierung.method.slickPrev()" class="prevButton btn btn-success">Zurück</a>

<a ng-if="formMode == 2" ng-click="slickConfigBewertung.method.slickNext()" class="nextButton btn btn-success">Weiter</a>
<a ng-if="formMode == 4" ng-click="slickConfigRenovierung.method.slickNext()" class="nextButton btn btn-success">Weiter</a>